#receipt {
  font-size: 10px;
  font-family: Arial, sans-serif;
  color: #333;
}

.card-header, .card-body {
  padding: 0.5rem;
}

h6 {
  margin: 0;
  font-weight: 600;
  font-size: 0.5rem;
  color: #666;
}

.fw-medium {
  font-weight: 500;
}

.fw-normal {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 600;
}

.text-muted {
  color: #6c757d !important;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #dee2e6;
}

.border-top-dashed {
  border-top: 1px dashed #dee2e6;
}

.table {
  margin-bottom: 0;
}

.table-active {
  background-color: #f8f9fa;
}

.alert {
  padding: 0.25rem;
  margin-bottom: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.fs-14 {
  font-size: 10px;
}

.fs-12 {
  font-size: 10px;
}

.text-end {
  text-align: right;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.g-1 {
  gap: 0.25rem;
}

@media print {
  .d-print-none {
      display: none !important;
  }
}


