#receipt {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.card-header, .card-body {
  padding: 1rem;
}

h6, p {
  margin: 0;
  font-weight: 600;
  font-size: 0.8rem;
}

.table-active {
  background-color: #f1f3f5;
}

.table th, .table td {
  padding: 0.5rem;
  vertical-align: middle;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #dee2e6;
}

.border-top-dashed {
  border-top: 1px dashed #dee2e6;
}

.alert {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  border-color: #e2e3e5;
  color: #333;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-end {
  text-align: right;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.company-logo {
  width: 100%;
  height: auto;
  max-width: 100px; /* Adjusted size for a more compact logo display */
  margin-bottom: 10px;
}

@media print {
  .d-print-none {
    display: none !important;
  }
}
