<div class="invoice-container" id="printable-template">
  <div class="invoice-header d-flex justify-content-between align-items-center pb-3">
    <!-- Left Section (Date, Invoice No) -->
    <div>
      <p class="text-muted mb-1">Date</p>
      <p class="text-muted mb-1">{{ dateGenerated }}</p>
      <p class="text-muted mb-1">Invoice No</p>
      <p class="text-muted mb-1">{{ settlementInvoice?.invoiceNo }}</p>
    </div>

    <!-- Center Section (Logo, Company Info) -->
    <div class="text-center">
      <img src="GoldCashLogo-receipt.png" alt="Company Logo" class="company-logo">
      <h4 class="fw-semibold text-uppercase">Gold Cash (Pvt) Ltd.</h4>
    </div>

    <!-- Right Section (Company Details) -->
    <div class="text-end">
      <p class="mb-1 text-muted">Reg No: 987654</p>
      <p class="mb-1 text-muted">Email: goldcash&#64;gmail.com</p>
      <p class="mb-1 text-muted">Phone: +(94) 81 222 1234</p>
      <p class="text-muted">Muruthalawa, Sri Lanka</p>
    </div>
  </div>

  <hr>

  <!-- Customer Information and Items -->
  <div class="invoice-body row g-4">
    <!-- Left: Customer Information -->
    <div class="col-md-6">
      <p class="fw-semibold text-muted">Customer Information</p>
      <p class="text-muted">{{ customer?.customerName }}</p>
      <p class="text-muted">{{ customer?.customerAddress }}</p>
      <p class="text-muted">NIC: {{ customer?.customerNIC }}</p>
      <p class="text-muted">Phone: {{ customer?.customerContactNo }}</p>
    </div>

    <!-- Right: Items List -->
    <div class="col-md-6">
      <!-- Invoice Totals and Summary -->
      <div class="invoice-summary d-flex justify-center">
        <table class="table table-borderless" style="width: 300px;">
          <tbody>
            <tr>
              <td class="text-muted">Sub Total (Rs)</td>
              <td class="text-end text-muted">{{ transaction?.subTotal }}</td>
            </tr>
            <tr>
              <td class="text-muted">Interest (%)</td>
              <td class="text-end text-muted">{{ transaction?.interestRate }}</td>
            </tr>
            <tr class="border-top border-top-dashed fs-5">
              <td class="text-dark text-muted fw-semibold">Total Amount (Rs)</td>
              <td class="text-end text-muted fw-semibold">{{ transaction?.totalAmount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Disclaimer and Signatures -->
  <div class="invoice-footer text-center">
    <p class="text-muted">Disclaimer: I confirm that the pledged gold articles have been returned
       to me in satisfactory condition, and I release Gold Cash (Pvt) Ltd. from any further liability related to this transaction.</p>
    <div class="row text-center">
      <!--
      <div class="col-md-4">
        <hr>
        <p>Cashier's Signature</p>
      </div>
      -->
      <div class="col-md-6">
        <hr>
        <p>Manager's Signature</p>
      </div>
      <div class="col-md-6">
        <hr>
        <p>Customer's Signature</p>
      </div>
    </div>
  </div>
</div>


<!-- Buttons -->
<div class="col-lg-11 d-print-none mt-4">
  <div class="hstack gap-2 justify-content-end">
    <button class="btn btn-sm btn-success" (click)="printTemplate()"><i class="ri-printer-line align-bottom me-1"></i>
      Print</button>
    <button class="btn btn-sm btn-primary" (click)="downloadTemplate()"><i
        class="ri-download-2-line align-bottom me-1"></i> Download</button>
  </div>
</div>