.container {
    background-color: var(--primary-bg);
    color: var(--primary-text);
  }
  
  .card {
    border-radius: 12px;
    background-color: var(--card-bg);
    border-color: var(--border-color);
    box-shadow: 0 0.5rem 1rem var(--shadow);
    color: var(--primary-text);
  }
  
  .btn-success {
    background-color: var(--brand-success);
    border-color: var(--brand-success);
    
    &:hover {
      background-color: var(--success-border);
      border-color: var(--success-border);
    }
  }
  