.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  position: fixed; /* Stays at the bottom */
  bottom: 0;
  width: 100%;
  font-size: smaller;
  color: #4360ac;
  z-index: 0; /* Ensure it has the lowest stack order */
}

a {
  color: #0843d8;
  text-decoration: none !important;
}
