.footer-sm {
  background-color: #f8f9fa;
  padding: 0.5rem 0; /* Reduced padding for a smaller appearance */
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: x-small; /* Smaller font size */
  color: #4360ac;
  z-index: 0;
}

.footer-sm p {
  margin-bottom: 0; /* Ensure there is no margin below the text */
}

a {
  color: #0843d8;
  text-decoration: none !important;
}
