<div class="container my-4">
    <div class="row">
        <!-- First row item -->
        <div class="col-md-12 mb-8">
            <div class="container-fluid bg-light p-3">
                <app-report-by-customer></app-report-by-customer>
            </div>
        </div>
        <!-- Second row item -->
        <div class="col-md-12 mb-8">
            <div class="container-fluid bg-light p-3">
                <app-invoice-types></app-invoice-types>
            </div>
        </div>
    </div>
</div>


