<div class="container text-center">
    <div class="row justify-content-center align-items-stretch">
      <div class="col-md-2 col-sm-4 mb-4">
        <div class="card h-100">
          <img src="overview/customerForm.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Customer Form</h6>
            <p class="card-text"></p>
            <a routerLink="/customer-form" class="btn btn-primary">View Customer Form</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 mb-4">
        <div class="card h-100">
          <img src="overview/itemForm.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Item Form</h6>
            <p class="card-text"></p>
            <a routerLink="/item-form" class="btn btn-primary">View Item Form</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 mb-4">
        <div class="card h-100">
          <img src="overview/invoiceForm.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Invoices Form</h6>
            <p class="card-text"></p>
            <a routerLink="/invoices" class="btn btn-primary">View Invoice Form</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 mb-4">
        <div class="card h-100">
          <img src="overview/transactionHistoryForm.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Transaction History</h6>
            <p class="card-text"></p>
            <a routerLink="/transaction-history" class="btn btn-primary">View Transaction History</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 mb-4">
        <div class="card h-100">
          <img src="overview/cashBalance.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Cash Balance</h6>
            <p class="card-text"></p>
            <a routerLink="/cash-balance" class="btn btn-primary">View Cash Balance</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  