/* General Styling */
.invoice-container {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px; /* Adjust width for smaller layout */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-container .invoice-header,
.invoice-container .invoice-body,
.invoice-container .invoice-summary,
.invoice-container .invoice-footer {
  margin-bottom: 15px;
}

.invoice-container .company-logo {
  width: 70px;
  height: auto;
}

/* Table adjustments for clarity */
.invoice-container table {
  font-size: 0.6rem;
  width: 100%;
  margin-bottom: 1rem;
}
.invoice-container p {
  font-size: 0.7rem;
  width: 100%;
  //margin-bottom: 1rem;
}

.invoice-container .table-bordered th,
.invoice-container .table-bordered td {
  padding: 0.6rem; /* Increased padding for better readability */
  border: 1px solid #dee2e6; /* Ensure borders are visible in PDF */
}

.invoice-container .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Print and PDF-specific styles */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .invoice-container {
    margin: 0;
    padding: 0;
  }
  .invoice-container table {
    page-break-inside: auto;
  }
  .invoice-container .table tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  .invoice-container .invoice-footer {
    page-break-before: always;
  }
  .invoice-container .d-print-none {
    display: none !important;
  }
}

@media screen {
  .invoice-container .pdf-export-only {
    display: none;
  }
}

/* Style for PDF download */
.invoice-container .pdf-export-only {
  font-size: 0.85rem;
}
