.card {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .table thead th {
    background-color: #f8f9fa;
    color: #6c757d;
  }
  
  .table tbody tr:hover {
    background-color: #f1f3f5;
  }
  
  .table .badge {
    font-size: 0.875rem;
  }
  
  .btn {
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .btn-outline-warning,
  .btn-outline-danger {
    color: #6c757d;
  }
  
  #searchResultList {
    max-width: 100%;
  }
  
  .form-select {
    max-width: 100px;
  }
  
  .pagination-controls {
    .pagination {
      margin: 0;
    }
  }
  
  .search-nic {
    width: 225px; /* Set width independently */
  }
  
  .d-flex > div {
    display: flex;
    align-items: center;
  }
  
  .me-2 {
    margin-right: 0.5rem; /* Space between the date range picker and search box */
  }
  
  .w-100 {
    width: 100%; /* Ensure date range picker takes full width of its container */
  }
  
  .status-label {
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: 500;
  }
  
  .status-paid {
    background-color: #007bff; /* Primary color */
  }
  
  .status-unpaid {
    background-color: #dc3545; /* Danger color */
  }
  