:host {
  display: flex;
  height: 100vh; /* Ensures layout stretches to the full viewport height */
}

.main-layout {
  display: flex;
  width: 100%;
}

.sidebar-container {
  flex-shrink: 0; /* Ensures sidebar does not shrink when the layout is resized */
  height: 100%; /* Make the sidebar container stretch to full height */
}

.content-container {
  flex-grow: 1; /* Ensures content container expands to take up remaining space */
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1; /* Ensures the content grows to take up all available space */
  padding: 1rem;
  background-color: #f8f9fa; /* Light background to distinguish content area */
  overflow-y: auto; /* Enables scrolling for the content */
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  width: 100%; /* Full width */
  font-size: small;
  color: #4360ac;
  z-index: 0; /* Lowest z-index */
  position: relative; /* Remains within the flow at the bottom */
}

a {
  color: #0843d8;
  text-decoration: none !important;
}
