<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-style" href="#">
        <img src="GoldCashLogo.png" alt="Gold Cash" class="navbar-logo"> Gold Cash
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link text-muted" routerLink="/overview" routerLinkActive="active-link">
              <i class="ri-home-2-line nav-icon"></i> Home
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted" href="#" id="customerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-user-3-line nav-icon"></i> Customer Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="customerDropdown">
              <li><a class="dropdown-item" routerLink="/customer-form" routerLinkActive="active-link">View Customers</a></li>
              <li><a class="dropdown-item" (click)="openAddCustomerModal()" routerLinkActive="active-link">Add Customer</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted" href="#" id="itemDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-archive-line nav-icon"></i> Inventory Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="itemDropdown">
              <li><a class="dropdown-item" routerLink="/item-form" routerLinkActive="active-link">View Inventory</a></li>
              <li><a class="dropdown-item" (click)="openAddItemModal()" routerLinkActive="active-link">Add Item</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted" href="#" id="invoiceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-article-line nav-icon"></i> Invoice Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="invoiceDropdown">
              <li><a class="dropdown-item" routerLink="/invoices" routerLinkActive="active-link">View Invoices</a></li>
              <li><a class="dropdown-item" routerLink="/create-invoice" routerLinkActive="active-link">Create Invoice</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted" href="#" id="financialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-cash-line nav-icon"></i> Financial Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="financialDropdown">
              <li><a class="dropdown-item" routerLink="/transaction-history" routerLinkActive="active-link">Transaction History</a></li>
              <li><a class="dropdown-item" routerLink="/cash-balance" routerLinkActive="active-link">Cash Balance</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="d-flex ms-auto align-items-center">
        <img src="nav-bar/user-logo.png" alt="Dropdown Image" class="rounded-circle me-2 user-logo" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item" routerLink="/auth/sign-in" (click)="signOut()" href="javascript:void(0);">
              Sign Out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
