/* You can add global styles to this file, and also import other style files */

td, th{

    font-size: 0.7rem;

}
h4{

  font-size: 1.1rem !important;

}
h5{

  font-size: 1rem !important;

}
.form-select {
  font-size: 0.7rem !important;
}
.entries-info {
  font-size: 0.7rem !important;
}
pagination-controls {
  font-size: 0.7rem !important;
}
.nav-link, .dropdown-item{
  font-size: 0.8rem !important;
}
input::placeholder {
  font-size: 0.8rem !important;
  
}
mat-label{
  font-size: 0.9rem !important;
}
button{
  font-size: 0.8rem !important;
}
.form-label{
  font-size: 0.8rem !important;
}
.modal-title{
font-weight: bold !important;
  font-size: 0.9rem !important;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Custom CSS for Muted Colors */

/* Primary Button */
.btn-primary {
  background-color: #3d78e3 !important;
  border-color:  #3d78e3 !important;
  color: #ffffff !important;
}

/* Secondary Button */
.btn-danger {
  background-color: #f17171 !important;
  color: #ffffff !important;
  border-color: #f17171 !important;
}

/* Success Button */
.btn-success {
  background-color: #67b173 !important;
  border-color:  #67b173 !important;
  color: #ffffff !important;
}

/* Warning Button */
.btn-warning {
  background-color: #ffc84b !important;
  border-color:  #ffc84b !important;
  color: #ffffff !important;
}

.btn-info{

    background-color: #29badb !important;
    border-color:  #29badb !important;
    color: #ffffff !important;
}

.btn-secondary{

  background-color: #7d80819a !important;
  border-color:  #7d80819a !important;
  color: #ffffff !important;
}


